<div class="line" ng-repeat="param in params">
    <div class="params_col">
        <input type="text" class="form-control" ng-model="param.key" placeholder="{{placeholderKey}}">
    </div>
    <div class="params_col">
        <input type="text" class="form-control" ng-model="param.value" placeholder="Value">
    </div>
    <i class="glyphicon glyphicon-plus-sign"
       ng-click="addNewParam()">
    </i>
    <i class="glyphicon glyphicon-remove delete"
       ng-click="deleteParam($index)"
       ng-if="params.length > 1">
    </i>
</div>