<div class="col-md-3">
    <history></history>
</div>
<div class="rest col-md-9">
    <uib-tabset>
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-repeat="tab in rest.tabs" ng-click="rest.selectTab($index)" ng-class="{'active':selectedTab === $index}">
                    <a data-target="#tab" aria-controls="home" role="tab" data-toggle="tab">{{tab.data.url ? tab.data.url: tab.name}} <span ng-show="rest.tabs.length > 1" ng-click="rest.deleteTab($index)" class="glyphicon glyphicon-remove"></span></a>
                </li>
                <li role="presentation" ng-click="rest.addTab()">
                    <a aria-controls="home" role="tab" data-toggle="tab">( + )</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab">
                    <div class="form-group">
                        <select class='form-control'
                                ng-model="rest.tabs[selectedTab].data.type"
                                ng-options="value for value in rest.types">
                        </select>
                        <!-- Single button -->
                        <!--<div class="btn-group" uib-dropdown is-open="status.isopen">-->
                            <!--<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">-->
                                <!--Type <span class="caret"></span>-->
                            <!--</button>-->
                            <!--<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button" ng-model="rest.tabs[selectedTab].data.type">-->
                                <!--<li role="menuitem" ng-repeat="type in rest.types track by $index"><a href="#">{{type}}</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <span class="input-group-addon form-control">http://</span>
                        <input class="form-control url" ng-model="rest.tabs[selectedTab].data.url"/>
                        <button type="button" class="btn btn-default"
                                ng-click="rest.openParams()"
                                >Params</button>
                        <button class="btn btn-primary"
                                type="button"
                                ng-disabled="!rest.tabs[selectedTab].data.url"
                                ng-click="rest.sendData()">
                                SEND
                        </button>
                    </div>
                    <div uib-collapse="!rest.tabs[selectedTab].isCollapsed">
                        <div class="params-list" ng-repeat="param in rest.tabs[selectedTab].params">
                            <div class="line">
                                <div class="params_col">
                                    <input type="text" class="form-control" ng-model="param.key" placeholder="URL parameter key">
                                </div>
                                <div class="params_col">
                                    <input type="text" class="form-control" ng-model="param.value" placeholder="Value">
                                </div>
                            </div>
                            <i class="glyphicon glyphicon-plus-sign"
                               ng-click="rest.addNewParam()">
                            </i>
                            <i class="glyphicon glyphicon-remove delete"
                               ng-click="rest.deleteParam($index)"
                               ng-if="rest.tabs[selectedTab].params.length > 1">
                            </i>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <h1>Response</h1>
                    <div class="well">{{rest.tabs[selectedTab].content}}</div>
                </div>
            </div>
        </div>
    </uib-tabset>
</div>